  <div fxLayout="column wrap"
     fxLayout.gt-xs="row"
     fxLayoutGap="2%">
  <div fxFlex="100"
       fxFlex.gt-md="50">
    <mat-card
              class="card infocard"
              [class.xs]="['card-xs', 'infocard-xs']">
      <mat-card-header class="card-header">
        <h3>
            Opret ny medarbejder
        </h3>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field 
                  fxLayout="row"
                  class="full-width">
          <input matInput
                 autocomplete="off"
                 placeholder="Navn"
                 [(ngModel)]="employee.name"
                 name="employeename">
        </mat-form-field>

        <mat-form-field 
                 fxLayout="row"
                 class="full-width">
          <input matInput
                 autocomplete="off"
                 placeholder="Email"
                 [(ngModel)]="employee.email"
                 name="email">
        </mat-form-field>

        <mat-form-field 
                 fxLayout="row"
                 class="full-width">
          <input matInput
                 autocomplete="off"
                 placeholder="Mobil"
                 [(ngModel)]="employee.mobile"
                 name="mobile">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Role"
                      autocomplete="off"
                      [(ngModel)]="employee.role"
                      name="role">
            <mat-option value="employee">Medarbejder</mat-option>
            <mat-option value="eventLeader">Eventleder</mat-option>
            <mat-option value="admin">Administrator</mat-option>
          </mat-select>
        </mat-form-field>

        
      
      <button mat-raised-button
                color="primary"
                (click)="create()"
                [disabled]="!employee.mobile">OPRET MEDARBEJDER</button>
      </mat-card-content>
      


