mat-card {
    padding: 16px;
    margin: 16px;
}




.card-header {
    color: rgba(0, 0, 0, 0.54);
    background: rgba(0, 0, 0, 0.03);
    margin-top: -16px !important;
    margin-right: -16px;
    margin-left: -16px;
    padding-left: 16px;
    padding-right: 16px;
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width {
    width: 100%;
}

.btn:hover {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin: 16px;
}

.search {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.row:hover {
    cursor: pointer;
    background: #607D8A;
    color: white;
}

.book {
    background: #4CAF50;
    color: white;
}

.maybe {
    background: #FE5722;
}

.nogo {
    background: #F34336;
}

.margin {
    margin: 16px;
}

.padding-bottom {
    padding-bottom: 148px;
}

.comment {
    min-height: 300px;
}

mat-row:nth-child(even){
    background-color:rgba(157, 157, 157, .3);
}

mat-row:nth-child(odd){
    background-color:white;
}

.spacer {
    flex: 1 1 auto;
}