<mat-sidenav-container class="container" [class.fullscreen]="fullscreenActive">
    <mat-toolbar color="primary">
        <button *ngIf="isAuthenticated" mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Event Booking System</span>
        <span class="spacer"></span>
        <button *ngIf="isAuthenticated" mat-icon-button matTooltip="Logout" (click)="logout()">
            <mat-icon>
                lock
            </mat-icon>
        </button>
    </mat-toolbar>
    <mat-sidenav #sidenav class="sidenav">
        <div class="logo-container">
            <a class="splash-mini black" routerLink="/">
            </a>
            <span>Menu</span>
        </div>

        <mat-nav-list class="nav-list">
            <h3>Dashboard</h3>
            <a *ngFor="let item of dashboardItems" mat-list-item [routerLink]="item.url" routerLinkActive="active-link" (click)="sidenav.close()">
                <span>{{item.text}}</span>
            </a>
            <h3>Events</h3>
            <a *ngFor="let item of eventNavigationItems" mat-list-item [routerLink]="item.url" routerLinkActive="active-link" (click)="sidenav.close()">
                <span>{{item.text}}</span>
            </a>
            <h3>Medarbejdere</h3>
            <a *ngFor="let item of employeeNavigationItems" mat-list-item [routerLink]="item.url" routerLinkActive="active-link" (click)="sidenav.close()">
                <span>{{item.text}}</span>
            </a>
            <a *ngFor="let item of skillNavigationItems" mat-list-item [routerLink]="item.url" routerLinkActive="active-link" (click)="sidenav.close()">
                <span>{{item.text}}</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <div class="content-container">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>