<div fxLayout="column" fxLayoutAlign="space-between center">
    <mat-card class="login-card">
        <div fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="space-between center">
            <div fxFlex>
                <h1>
                    Opret bruger
                </h1>
            </div>
            <div fxFlex>
                <button class="login-button" mat-raised-button (click)="facebookLogin()" id="fb">Opret bruger med Facebook</button>
            </div>
            <div fxFlex>
                <button class="login-button" mat-raised-button (click)="googleLogin()" id="google">Opret bruger med Google</button>
            </div>
        </div>
    </mat-card>
</div>